@keyframes flicker {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }

  @keyframes rotate {
    from {
    border-top-color:  rgba(156, 206, 228, 1);
    border-right-color: rgba(122, 183, 142, 1);
    border-bottom-color: rgba(255, 177, 38, 1);
    border-left-color: rgba(241, 139, 41, 1);
    }
    to {
    border-top-color:  rgba(156, 206, 228, 1);
    border-right-color: rgba(122, 183, 142, 1);
    border-bottom-color: rgba(255, 177, 38, 1);
    border-left-color: rgba(241, 139, 41, 1);
    }
  }