@keyframes flicker {
    78% {
      color: inherit;
      text-shadow: inherit;
    }
    79%{
       color: #333;
    }
    80% {
      
      text-shadow: none;
    }
    81% {
      color: inherit;
      text-shadow: inherit;
    }
    82% {
      color: #333;
      text-shadow: none;
    }
    83% {
      color: inherit;
      text-shadow: inherit;
    }
    92% {
      color: #333;
      text-shadow: none;
    }
    92.5% {
      color: inherit;
      text-shadow: inherit;
    }
  }


  @keyframes rotate {
    0% {
      border-top-color:  rgba(156, 206, 228, 1);
      border-right-color: skyblue;
      border-bottom-color: rgba(255, 177, 38, 1);
      border-left-color: rgb(241, 161, 41);
    }
    25% {
      border-right-color:  rgba(156, 206, 228, 1);
      border-bottom-color: skyblue;
      border-left-color: rgba(255, 177, 38, 1);
      border-top-color: rgb(241, 161, 41);
    }
    40% {
      border-bottom-color:  rgba(156, 206, 228, 1);
      border-left-color: skyblue;
      border-top-color: rgba(255, 177, 38, 1);
      border-right-color: rgb(241, 161, 41);
    }
    75% {
      border-left-color:  rgba(156, 206, 228, 1);
      border-top-color: skyblue;
      border-right-color: rgba(255, 177, 38, 1);
      border-bottom-color: rgb(241, 161, 41);
    }
    100% {
            border-top-color:  rgba(156, 206, 228, 1);
      border-right-color: skyblue;
      border-bottom-color: rgba(255, 177, 38, 1);
      border-left-color: rgb(241, 161, 41);
    }
  }