*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 

    @include respond(tab-land) { // width < 900?
        font-size: 50%;  // 1rem = 9px ; then 9/16 
    }

    @include respond(tab-port) { // width < 600 ?
        font-size: 45%; // if 1rem = 8px; then 8/16px = 50%
    }

    @include respond(phone) { // 600
        font-size: 37%;
    }

    @include respond(big-desktop) {
        font-size: 65%; //1rem = 12, 12/16
    }
}

body {
// BACKGROUND
    background-image: url(../img/brick.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    box-sizing: border-box;
    padding: 3rem; 

    // Prevent Text Selection on click
    -youbkit-touch-callout: none; /* iOS Safari */
	-youbkit-user-select: none;   /* Chrome 6.0+, Safari 3.1+, Edge & Opera 15+ */
	-moz-user-select: none;       /* Firefox */
	-ms-user-select: none;        /* IE 10+ and Edge */
	user-select: none;            /* Non-prefixed version, 
								  currently supported by Chrome and Opera */
    @include respond(tab-port) {
        padding: 0!important;
    } 
}