.row {
    display: flex;
    flex-wrap:wrap;
    // center blocks
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: 0;
    }
    
    // @include clearfix;

    // [class^="col-"] {
    //     float: left;

    //     &:not(:last-child) {
    //         margin-right: $gutter-horizontal;
    //     }

    // }
}