// .header {
//     position: absolute;
//     &__text-box {

//     // Centers Header TextBox To Center
//         position: relative;
//         top: 20%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         text-align: center;
//     }
// }

.heading-primary {
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    
    
  
}