@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vibur&display=swap");
@keyframes flicker {
  78% {
    color: inherit;
    text-shadow: inherit; }
  79% {
    color: #333; }
  80% {
    text-shadow: none; }
  81% {
    color: inherit;
    text-shadow: inherit; }
  82% {
    color: #333;
    text-shadow: none; }
  83% {
    color: inherit;
    text-shadow: inherit; }
  92% {
    color: #333;
    text-shadow: none; }
  92.5% {
    color: inherit;
    text-shadow: inherit; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  background-image: url(../img/brick.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

.heading-primary {
  color: white;
  font-size: 6rem;
  font-weight: 700;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ffae00, 0 0 0.2em #ffd000, 0 0 0.1em #ffd000, 0 15px 3px black; }
  .heading-primary b span {
    animation: flicker linear infinite 2s; }
    .heading-primary b span:nth-type(2) {
      animation: flicker linear infinite 3s; }

.heading-primary {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }

body, html {
  font-family: sans-serif;
  color: white;
  font-size: 10px; }

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center; }

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black; }

.playing {
  background: rgba(255, 255, 255, 0.842);
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600; }

kbd {
  display: block;
  font-size: 4rem; }

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600; }
