@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vibur&display=swap");
@keyframes flicker {
  78% {
    color: inherit;
    text-shadow: inherit; }
  79% {
    color: #333; }
  80% {
    text-shadow: none; }
  81% {
    color: inherit;
    text-shadow: inherit; }
  82% {
    color: #333;
    text-shadow: none; }
  83% {
    color: inherit;
    text-shadow: inherit; }
  92% {
    color: #333;
    text-shadow: none; }
  92.5% {
    color: inherit;
    text-shadow: inherit; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 45%; } }
  @media (max-width: 32.5em) {
    html {
      font-size: 37%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 65%; } }

body {
  background-image: url(../img/brick.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0 !important; } }

.heading-primary {
  text-align: center;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: block;
  color: white;
  font-size: 10rem;
  font-weight: 700;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ffae00, 0 0 0.2em #ffd000, 0 0 0.1em #ffd000, 0 15px 3px black; }
  .heading-primary b span {
    animation: flicker linear infinite 2s; }
    .heading-primary b span:nth-type(2) {
      animation: flicker linear infinite 3s; }
  @media (max-width: 32.5em) {
    .heading-primary {
      font-size: 15rem;
      text-align: center;
      width: 50vw;
      height: 25vh; } }

.header {
  height: 97vh;
  position: relative; }
  .header__text-box {
    position: absolute;
    /* top & bottom in relation to the parent */
    top: 40%;
    left: 50%;
    /* in relation to the element itself */
    text-align: center; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 0; }

body, html {
  font-family: sans-serif;
  color: white;
  font-size: 10px; }

.keys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center; }

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black; }

.playing {
  background: #ffffff8e;
  transform: scale(1.1);
  border-color: #ffc600;
  text-shadow: 0 -40px 100px;
  box-shadow: 0 2px 20px 0 rgba(255, 187, 0, 0.699), 0 2px 20px 0 rgba(255, 187, 0, 0.699); }

kbd {
  display: block;
  font-size: 4rem; }

.sound {
  font-size: 1.2rem;
  font-weight: 700rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600; }

.section-launchpad {
  margin: 1rem 5rem 1rem 5rem; }
  @media (max-width: 56.25em) {
    .section-launchpad {
      margin: 1rem 0 1rem 0; } }
